@use "../parts/variables" as v;
@use "sass:math";

.teachers-block {
  width: 100%;
  max-width: 218px;
  background: #fff;
  border-radius: 50px;
  box-shadow: -10px 25px 33px color-mix(in srgb, var(--accent), transparent 88%);
  transition: var(--trans-03s);

  &:hover {
    transform: scale(1.05);
  }

  &:nth-child(1) {
    margin-top: 110px;
    .teachers-block__img {
      transform: translate(-30px, 0px);
    }

    @media (max-width: v.$screen-lg) {
      justify-self: flex-end;
      margin-top: 160px;
    }
    @media (max-width: v.$screen-md) {
      margin-top: 180px;
      .teachers-block__img {
        transform: translate(-10px, 0px);
      }
    }
    @media (max-width: 380px) {
      margin-top: 120px;
    }
  }
  &:nth-child(2) {
    margin-top: -20px;
    .teachers-block__img {
      transform: translate(-50px, 0px) scale(1.15);
    }

    @media (max-width: v.$screen-lg) {
      margin-top: 30px;
    }
    @media (max-width: v.$screen-md) {
      margin-top: 60px;
      .teachers-block__img {
        transform: translate(-15px, 0px);
      }
    }
    @media (max-width: 380px) {
      margin-top: 30px;
    }
  }
  &:nth-child(3) {
    margin-top: 76px;
    .teachers-block__img {
      transform: translate(-5px, 0px);
    }
    @media (max-width: v.$screen-lg) {
      justify-self: flex-end;
    }
    @media (max-width: v.$screen-md) {
      .teachers-block__img {
        transform: translate(-10px, 0px) scale(0.9);
      }
    }
  }
  &:nth-child(4) {
    .teachers-block__img {
      transform: translate(-30px, 0px) scale(1.3);
    }
    @media (max-width: v.$screen-md) {
      .teachers-block__img {
        transform: translate(-10px, 0px) scale(1);
      }
    }
  }

  &__img {
    height: 180px;
    margin-bottom: 5px;
    width: 125%;
    max-width: 270px;
    position: relative;
    @media (max-width: v.$screen-md) {
      width: 110%;
      height: 120px;
    }

    img {
      width: 100%;
      max-height: 280px;
      object-fit: contain;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__body {
    padding: 30px;
    padding-top: 0;
    @media (max-width: v.$screen-md) {
      padding: 10px;
      padding-bottom: 30px;
    }
  }

  &__title {
    font-size: 32px;
    margin-bottom: 8px;
  }
  &__subtitle {
    font-size: 18px;
    color: var(--c-secondary);
    margin-bottom: 25px;
  }

  &__audio-sub {
    font-size: 14px;
    color: var(--c-secondary);
    margin-left: 8px;
    margin-top: 8px;
  }

  &__audio {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fff5f5;
    border-radius: 50px;
    padding: 10px 20px;
    width: fit-content;
    background-color: #ffeeee;
    border-radius: 12px;
    padding: 12px 14px;
    width: 100%;
    min-height: 54px;

    &.active {
      .teachers-block__audio-play {
        .pause {
          display: block;
        }

        .play {
          display: none;
        }
      }

      .wave-bar {
        animation: wave 1.5s infinite ease-in-out;
      }
    }
  }

  &__audio-play {
    .pause {
      display: none;
    }
  }

  .audio-wave {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .wave-bar {
    display: block;
    width: 4px;
    height: 20px;
    background-color: #ff9999;
    border-radius: 2px;
    transition: all 0.1s ease-in-out;

    @for $i from 1 through 17 {
      &:nth-child(#{$i}) {
        animation-delay: #{math.random(25) * 0.1}s;
        height: #{math.random(25) + 5}px;
      }
    }

    @media (max-width: 520px) {
      width: 3px;
      &:nth-child(17) {
        display: none;
      }
    }
    @media (max-width: 350px) {
      @for $i from 15 through 17 {
        &:nth-child(#{$i}) {
          display: none;
        }
      }
    }
  }
}

@keyframes wave {
  0%,
  100% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
}
