include ../mixins/sec-title

section(class="page-acdrift-banner py-24 pb-20 pt-[200px] max-md:pt-[130px] max-md:pb-[50px] relative overflow-visible")
  div(class="absolute top-[30%] l-0 w-full -z-10")
    img(class="w-full" src="./img/acdrift-bg.png" loading="lazy")

  .container
    +sec-title('<span class="text-app-pink">Asseto Corsa</span> дрифт <br/> в гоночном автосимуляторе')
    div(class="mt-[60px] max-[1200px]:mt-[35px] max-md:mt-[20px] text-center text-[25px] max-[1200px]:text-[15px] max-md:text-[18px] uppercase text-app-white-secondary font-semibold") Assetto Corsa — один из лучших симуляторов для любителей дрифта, #[br(class="max-md:hidden")] благодаря продвинутой физике, отзывчивому управлению и огромной #[br(class="max-md:hidden")] библиотеке модов. #[span(class="text-app-white") #[br(class="md:hidden")] #[br(class="md:hidden")] Мы в MetaRacing провели огромную работу, чтобы довести #[br(class="max-md:hidden")] симуляцию дрифта до реалистичного уровня.] 

  div(class="p-acdrift__banner-img relative mt-[80px] max-[1200px]:mt-[45px] max-md:h-[380px]")
    .container
      img(class="w-full max-md:absolute left-0 max-md:h-full max-md:object-cover" src="./img/acdrift-banner.png" loading="lazy")
    
  .container
    div(class="mt-[85px] max-[1200px]:mt-[50px] max-md:mt-[35px] text-center text-[25px] max-[1200px]:text-[15px] max-md:text-[18px] uppercase text-app-white-secondary font-semibold") Мы разработали собственные автомобили с улучшенной физикой, который #[br(class="max-md:hidden")] разделяются на несколько классов сложности, от простого для новичков, до #[br(class="max-md:hidden")] более сложного для профессиональных гонщиков.