extends ./base/base.pug
include ./mixins/sec-title

block head
  title 404 | страница не найдена или была удалена

block content
  div(class="bg-[url('/img/404-bg.png')] bg-cover bg-top bg-no-repeat w-full")
    section(class="not-found pt-[200px] max-md:pt-[90px] relative overflow-visible")
      .container
        div(class="not-found__content flex flex-col items-center justify-center")
          div(class="not-found__banner relative flex items-center justify-center")
            div(class=`
              absolute transform 
              translate-x-[3px] translate-y-[12px] max-[1200px]:translate-x-px max-[1200px]:translate-y-[6px]
              w-[802px] max-[1200px]:w-[495px] max-md:w-[333px]
            `)
              img(class="mx-auto" src="./img/404.svg" loading="lazy")
            div(class="w-[1100px] max-[1200px]:w-[680px] max-md:w-[457px]")
              img(class="w-full" src="./img/404-light.png" loading="lazy")

        div(class="mt-[-50px] max-[1200px]:mt-[-10px] max-md:mt-0 text-center text-[25px] max-[1200px]:text-[15px] max-md:text-[18px] uppercase text-app-white-secondary font-semibold") Запрашиваемая страница #[br(class="md:hidden")] не найдена или была удалена. #[br] Проверьте адрес или вернитесь  #[br(class="md:hidden")] на главную страницу.
        div(class="flex justify-center items-center mt-[44px] max-[1200px]:mt-[27px] max-md:mt-[33px]")
          a(href="/" class="btn-accent h-[60px] max-md:w-[338px] max-[1200px]:h-[35px] max-md:h-[60px]") Вернуться на главную
