extends ./base/base.pug

block head
  title Главная

block content
  include ./home/banner.pug
  include ./home/benefits.pug
  include ./home/simulators.pug
  include ./home/games.pug
  include ./home/prices.pug
  include ./home/atmosphere.pug
  include ./home/reviews.pug
  include ./home/events.pug
  include ./home/rental.pug
  include ./home/gift.pug
  include ./home/merch.pug
  include ./home/qa.pug
  include ./home/address.pug
  include ./home/register.pug