extends ./base/base.pug
include ./mixins/sec-title
include ./mixins/qa

block head
  title Вопросы и ответы

block content
  section(class="page-qa py-24 pb-20 pt-[200px] max-md:pb-[50px] relative overflow-visible")
    div(class="absolute top-[5%] max-md:top-[-5%] l-0 w-full -z-10")
      picture
        source(media="(max-width: 767px)" srcset="img/p-qa-bg-mob.png")
        img(class="w-full" src="./img/p-qa-bg.png" loading="lazy")

    .container
      +sec-title('Вопросы и ответы', 'Возможно, вы хотите <br class="md:hidden"/>  об этом спросить')
    
    div(class="container max-md:hidden")
      div(class="qa-list mt-[80px] max-lg:mt-[35px] flex flex-col gap-y-[30px] max-lg:gap-y-[24px] px-10 max-w-[1400px] mx-auto")
        +qa-item('<span class="text-app-pink">Можно прийти с 2-3 друзьями,</span> чтобы погонять в одной гонке?', 'Да! У нас доступна совместная игра — можно гонять с друзьями в одном клубе (до 6–8 человек одновременно), либо подключаться к онлайн-серверам и соревноваться между клубами.', 'qa-b-1.svg')
        +qa-item('<span class="text-app-pink">Какие игры у вас есть?</span>', 'Доступные игры в наших клубах: Assetto Corsa, Assetto Corsa Competizione, Dirt Rally 2.0, City Car Driving, Euro Truck Simulator 2, Wreckfest. Из дисциплин доступны: дрифт, кольцевые гонки, ралли, Формула 1 и картинг. А также "шашки" с трафиком и езда в открытом мире. Смотрите описание всех наших игр.', 'qa-b-2.svg')
        +qa-item('<span class="text-app-pink">Какие ограничения по возрасту или по росту? </span> Хочу с ребенком покататься', 'Доступ на наши симуляторы осуществляется с 14 лет. Это обусловлено настройкой наших симуляторов под взрослого человека.', 'qa-b-3.svg')
        +qa-item('<span class="text-app-pink">Я только учусь на права и хочу закрепить навыки вождения. </span> Как это сделать?', 'У нас вы можете научиться и гражданскому вождению, и получить навыки управления спортивным автомобилем в различных дисциплинах.', 'qa-b-4.svg')
        +qa-item('<span class="text-app-pink">У вас можно поездить по кольцевой трассе Игора? </span>', 'В сети наших клубов вы можете покататься не только на трассе Игора Драйв, но и на многих других. <br/> Для различных гонок вам доступно более 300 трасс и различных локаций.', 'qa-b-5.svg')
        +qa-item('<span class="text-app-pink">Можно ли у вас погонять в картинге?</span>', 'Да, картинг доступен в игре Assetto Corsa. Также можно погонять вместе с друзьями.', 'qa-b-6.svg')
        +qa-item('<span class="text-app-pink">Есть подарочные сертификаты?</span> Хотела бы подарить парню на День Рождения', 'У нас вы можете приобрести стильные и полезные подарочные сертификаты для ваших друзей и близких. <br/> Сертификаты выполнены в двух версиях: печатная и электронная.', 'qa-b-7.svg')

    div(class="md:hidden")
      div(class=" qa-list mt-[35px] flex flex-col gap-y-[35px]")
        +qa-item-mob('<span class="text-app-pink">Можно прийти с 2-3 друзьями,</span> <br/> чтобы погонять в одной гонке?', 'Да! У нас доступна совместная игра — можно гонять с друзьями в одном клубе (до 6–8 человек одновременно), либо подключаться к онлайн-серверам и соревноваться между клубами.', 'qa-b-1.svg')
        +qa-item-mob('<span class="text-app-pink">Какие игры у вас есть?</span>', 'Доступные игры в наших клубах: Assetto Corsa, Assetto Corsa Competizione, Dirt Rally 2.0, City Car Driving, Euro Truck Simulator 2, Wreckfest. <br/> <br/> Из дисциплин доступны: дрифт, кольцевые гонки, ралли, Формула 1 и картинг. А также "шашки" с трафиком и езда в открытом мире. Смотрите описание всех наших игр.', 'qa-b-2.svg')
        +qa-item-mob('<span class="text-app-pink">Какие ограничения по возрасту или по росту?</span> <br/> Хочу с ребенком покататься', 'Доступ на наши симуляторы осуществляется с 14 лет. Это обусловлено настройкой наших симуляторов под взрослого человека.', 'qa-b-3.svg')
        +qa-item-mob('<span class="text-app-pink">Я только учусь на права <br/> и хочу закрепить навыки <br/> вождения.</span> Как это сделать?', 'У нас вы можете научиться и гражданскому вождению, и получить навыки управления спортивным автомобилем в различных дисциплинах.', 'qa-b-4.svg')
        +qa-item-mob('<span class="text-app-pink">У вас можно поездить по кольцевой трассе Игора? </span>', 'В сети наших клубов вы можете покататься не только на трассе Игора Драйв, но и на многих других. <br/> Для различных гонок вам доступно более 300 трасс и различных локаций.', 'qa-b-5.svg')
        +qa-item-mob('<span class="text-app-pink">Можно ли у вас погонять в картинге?</span>', 'Да, картинг доступен в игре Assetto Corsa. Также можно погонять вместе с друзьями.', 'qa-b-6.svg')
        +qa-item-mob('<span class="text-app-pink">Есть подарочные сертификаты?</span> Хотела бы подарить парню на День Рождения', 'У нас вы можете приобрести стильные и полезные подарочные сертификаты для ваших друзей и близких. <br/> Сертификаты выполнены в двух версиях: печатная и электронная.', 'qa-b-7.svg')

  include ./home/register.pug
