mixin sec-title(title, subtitle)
  div(class="text-center uppercase")
    div(class="italic font-black text-[30px] md:text-[50px] lg:text-[80px] leading-[110%]")!=title
    if subtitle
      div(class="text-2xl mt-6 max-lg:mt-[16px] max-md:mt-[14px] text-app-white-secondary max-lg:text-[15px] max-md:text-lg")!=subtitle