:root {
  /* Colors */
  --color-accent: #de127a;
  --color-accent-hover: #ff2393;
  --color-accent-active: #ff2393;
  --color-white: #fff;
  --color-white-hover: #fff;
  --color-white-active: #fff;
  --color-white-secondaty: #b8b8d6;
  --color-purple: #7d5c9c;
  --color-purple-hover: #8a62b0;
  --color-yellow: #ffd409;
  --color-red: #e52c4b;
  --color-sky: #4ea8f3;
  --color-sky-hover: #30a1ff;
  --color-green: #43a382;
  --color-pink: #de127a;
  /* Backgrounds colors */
  --bg-black: #040405;
  /* Border colors */
  --color-border-gray: rgba(255, 255, 255, 0.08);
  /* Transition */
  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
  --trans-05s: all 0.5s ease;
  /* Gradients */
  --linear-reviews-bg: linear-gradient(
    140deg,
    color-mix(in srgb, color-mix (in srgb, #ffd409, transparent 40%), transparent 70%),
    color-mix(in srgb, color-mix(in srgb, #ffd409, transparent 40%), transparent 90%),
    transparent 50%
  );
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: center/cover no-repeat url("../img/grid-lines-bg.png");
  background-color: var(--bg-black);
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

section:not(.overflow-visible) {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

img.max-none {
  max-width: none;
}

.container {
  width: 1562px;
  max-width: 95%;
  margin: 0 auto;
}

.sec-p-y {
  padding: var(--sec-p-y) 0;
}

.sec-p-y--top {
  padding-top: var(--sec-p-y);
}

.sec-p-y--bottom {
  padding-bottom: var(--sec-p-y);
}

.sec-p-x {
  padding: 0 var(--sec-p-y);
}

.btn,
.btn-icon,
.btn-icon-purple,
.btn-icon-white,
.btn-white-pink,
.btn-white,
.btn-sky,
.btn-purple,
.btn-accent {
  --btn-bg: var(--color-accent);
  --btn-bg-hover: var(--color-accent-hover);
  --btn-bg-active: var(--color-accent-active);
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  padding: 13px 21px;
  border-radius: 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 16px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  text-align: center;
  border-radius: 15px;
}

.btn:hover::before,
.btn-icon:hover::before,
.btn-icon-purple:hover::before,
.btn-icon-white:hover::before,
.btn-white-pink:hover::before,
.btn-white:hover::before,
.btn-sky:hover::before,
.btn-purple:hover::before,
.btn-accent:hover::before {
  background: var(--btn-bg-hover);
  -webkit-box-shadow: 0 0 20px 3.4px color-mix(in srgb, var(--btn-bg-hover), transparent 50%), 0 0 15px -4px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 0 20px 3.4px color-mix(in srgb, var(--btn-bg-hover), transparent 50%), 0 0 15px -4px rgba(255, 255, 255, 0.5) inset;
}

.btn:hover::after,
.btn-icon:hover::after,
.btn-icon-purple:hover::after,
.btn-icon-white:hover::after,
.btn-white-pink:hover::after,
.btn-white:hover::after,
.btn-sky:hover::after,
.btn-purple:hover::after,
.btn-accent:hover::after {
  opacity: 1;
}

.btn:active,
.btn-icon:active,
.btn-icon-purple:active,
.btn-icon-white:active,
.btn-white-pink:active,
.btn-white:active,
.btn-sky:active,
.btn-purple:active,
.btn-accent:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.btn::before,
.btn-icon::before,
.btn-icon-purple::before,
.btn-icon-white::before,
.btn-white-pink::before,
.btn-white::before,
.btn-sky::before,
.btn-purple::before,
.btn-accent::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--btn-bg);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  border-radius: inherit;
  z-index: -1;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
}

.btn::after,
.btn-icon::after,
.btn-icon-purple::after,
.btn-icon-white::after,
.btn-white-pink::after,
.btn-white::after,
.btn-sky::after,
.btn-purple::after,
.btn-accent::after {
  opacity: 0;
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: var(--btn-bg);
  background-image: linear-gradient(-69deg, rgba(255, 255, 255, 0.65), transparent);
  position: absolute;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  border-radius: inherit;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  z-index: -2;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-accent {
  --btn-bg: var(--color-accent);
  --btn-bg-hover: var(--color-accent-hover);
  --btn-bg-active: var(--color-accent-active);
  color: var(--c-white);
}

.btn-purple {
  --btn-bg: var(--color-purple);
  --btn-bg-hover: var(--color-purple-hover);
  --btn-bg-active: var(--color-purple-active);
  color: var(--c-white);
}

.btn-sky {
  --btn-bg: var(--color-sky);
  --btn-bg-hover: var(--color-sky-hover);
  --btn-bg-active: var(--color-sky-active);
  color: var(--c-white);
}

.btn-white {
  --btn-bg: var(--color-white);
  --btn-bg-hover: var(--color-white-hover);
  --btn-bg-active: var(--color-white-active);
  color: var(--color-purple);
}

.btn-white-pink {
  --btn-bg: var(--color-white);
  --btn-bg-hover: var(--color-white-hover);
  --btn-bg-active: var(--color-white-active);
  color: var(--color-pink);
}

.btn-icon,
.btn-icon-purple,
.btn-icon-white {
  padding: 0;
  width: 56px;
  height: 50px;
  border-radius: 15px;
  padding: 0 !important;
}

.btn-icon img,
.btn-icon-purple img,
.btn-icon-white img,
.btn-icon svg,
.btn-icon-purple svg,
.btn-icon-white svg {
  --size: 18px;
  max-width: var(--size);
  max-height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
}

.btn-icon::before,
.btn-icon-purple::before,
.btn-icon-white::before {
  z-index: 1;
}

.btn-icon::after,
.btn-icon-purple::after,
.btn-icon-white::after {
  z-index: 0;
  background-image: linear-gradient(135deg, var(--color-accent), transparent);
}

.btn-icon:hover::before,
.btn-icon-purple:hover::before,
.btn-icon-white:hover::before {
  -webkit-box-shadow: 0 0 10px 3.4px color-mix(in srgb, var(--btn-bg-hover), transparent 50%);
          box-shadow: 0 0 10px 3.4px color-mix(in srgb, var(--btn-bg-hover), transparent 50%);
}

.btn-icon:hover .img-hover,
.btn-icon-purple:hover .img-hover,
.btn-icon-white:hover .img-hover {
  display: block;
}

.btn-icon:hover .img-base,
.btn-icon-purple:hover .img-base,
.btn-icon-white:hover .img-base {
  display: none;
}

.btn-icon .img-hover,
.btn-icon-purple .img-hover,
.btn-icon-white .img-hover {
  display: none;
}

.btn-icon-white {
  --btn-bg: var(--color-white);
  --btn-bg-hover: var(--color-white-hover);
  --btn-bg-active: var(--color-white-active);
  color: var(--color-purple);
}

.btn-icon-purple {
  --btn-bg: var(--color-purple);
  --btn-bg-hover: var(--color-purple-hover);
  --btn-bg-active: var(--color-purple-active);
  color: var(--color-white);
}

.btn-icon-purple::after {
  z-index: 0;
  background-image: linear-gradient(320deg, #fff, transparent);
}

.btn-icon .swiper-navigation-icon,
.btn-icon-white .swiper-navigation-icon,
.btn-icon-purple .swiper-navigation-icon {
  display: none;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.df.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.df.col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.df.gap-5 {
  gap: 5px;
}

.df.gap-10 {
  gap: 10px;
}

.df.gap-15 {
  gap: 15px;
}

.df.gap-20 {
  gap: 20px;
}

.burger {
  --bar-height: 2px;
  --bar-color: #fff;
  position: relative;
  width: 56px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  cursor: pointer;
  padding: 0;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
}

.burger::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background: transparent;
  border: 1px solid var(--color-border-gray);
  border-radius: 15px;
  backdrop-filter: blur(30px);
  z-index: -1;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.text-c-white {
  color: var(--color-white);
}

.text-c-white-sec {
  color: var(--color-white-secondaty);
}

.text-c-purple {
  color: var(--color-purple);
}

.text-c-yellow {
  color: var(--color-yellow);
}

.text-c-red {
  color: var(--color-red);
}

.text-c-sky {
  color: var(--color-sky);
}

.text-c-green {
  color: var(--color-green);
}

.text-c-pink {
  color: var(--color-pink);
}

.text-c-accent {
  color: var(--color-accent);
}

.img-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skewx--10 {
  --skewx-scale: 1;
  -webkit-transform: skewX(-10deg) scale(var(--skewx-scale));
      -ms-transform: skewX(-10deg) scale(var(--skewx-scale));
          transform: skewX(-10deg) scale(var(--skewx-scale));
}

.skewx--10-content {
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-button.active {
  color: var(--color-accent);
}

.tabs-buttons {
  background: linear-gradient(-129deg, color-mix(in srgb, #040a0f, transparent 60%) 20%, color-mix(in srgb, #de127a, transparent 40%) 100%) color-mix(in srgb, #0e1923, transparent 60%);
  background-repeat: no-repeat;
}

.card-tech-before-gradient,
.card-tech-before-gradient-yellow,
.card-tech-before-gradient-sky,
.card-tech-before-gradient-pink,
.card-tech-before-gradient-purple {
  --cur-color: var(--color-accent);
  --cur-bg: color-mix(in srgb, #0e1923 40%, transparent);
  background: linear-gradient(22deg, color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 70%), color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 90%), transparent 50%) var(--cur-bg);
  backdrop-filter: blur(40px);
}

.card-tech-before-gradient.--top-l,
.--top-l.card-tech-before-gradient-yellow,
.--top-l.card-tech-before-gradient-sky,
.--top-l.card-tech-before-gradient-pink,
.--top-l.card-tech-before-gradient-purple {
  background: linear-gradient(140deg, color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 70%), color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 90%), transparent 50%) var(--cur-bg);
}

.card-tech-before-gradient-purple {
  --cur-color: var(--color-purple);
}

.card-tech-before-gradient-pink {
  --cur-color: var(--color-accent);
}

.card-tech-before-gradient-sky {
  --cur-color: var(--color-sky);
}

.card-tech-before-gradient-yellow {
  --cur-color: var(--color-yellow);
  --cur-bg: rgba(0, 0, 0, 0.5);
}

.border-gradient {
  --border-radius: 15px;
  --border-width: 1.3px;
  --border-gradient-deg: 0deg;
  --border-gradient-image: linear-gradient(45deg, #4f4100, #ffd409, #4f4100);
  --content-bg-color: #0a0b0d;
  position: relative;
  border-radius: var(--border-radius);
}

.border-gradient-border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
  border: var(--border-width) solid transparent;
  background-clip: content-box, border-box;
  background-origin: border-box;
  z-index: -2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--border-gradient-deg)), color-stop(var(--content-bg-color)), to(var(--content-bg-color))), var(--border-gradient-image);
  background-image: linear-gradient(var(--border-gradient-deg), var(--content-bg-color), var(--content-bg-color)), var(--border-gradient-image);
}

.border-gradient-content {
  position: absolute;
  left: var(--border-width);
  top: var(--border-width);
  width: calc(100% - 2 * var(--border-width));
  height: calc(100% - 2 * var(--border-width));
  border-radius: var(--border-radius);
  background-color: var(--content-bg-color);
  backdrop-filter: blur(40px);
  z-index: -1;
  background-image: inherit;
  background: inherit;
}

body .swiper {
  overflow: visible;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
}

.badge-clip {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 800;
  padding: 3px 24px 7px 24px;
  clip-path: polygon(0% 13.87%, 100% 0%, 86.06% 100%, 4.07% 86.96%);
}

.img-cover-skew {
  -webkit-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
          transform: skewX(10deg);
  max-width: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 115%;
  height: 100%;
  position: absolute;
  right: -8%;
  top: 0;
  z-index: -1;
}

.font-golos {
  font-family: "Golos Text", sans-serif;
}

.qa-item-mob {
  --border-radius: 0;
}

.qa-item-mob .border-gradient-border {
  width: calc(100% - 4px);
  left: 2px;
  -webkit-transform: scaleX(1.1);
      -ms-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

main {
  overflow: hidden;
}

.new-border-linear,
.new-border-linear-tsunami,
.new-border-linear-red,
.new-border-linear-sky,
.new-border-linear-purple,
.new-border-linear-pink {
  --nbl-deg: 200deg;
  --nbl-color: var(--color-accent);
  --nbl-skewX: 0deg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform: skewX(var(--nbl-skewX));
      -ms-transform: skewX(var(--nbl-skewX));
          transform: skewX(var(--nbl-skewX));
}

.new-border-linear::after,
.new-border-linear-tsunami::after,
.new-border-linear-red::after,
.new-border-linear-sky::after,
.new-border-linear-purple::after,
.new-border-linear-pink::after {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
  background-color: var(--btn-bg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--nbl-deg)), color-stop(30%, transparent), to(var(--nbl-color)));
  background-image: linear-gradient(var(--nbl-deg), transparent 30%, var(--nbl-color));
  -webkit-transform: skewX(var(--nbl-skewX));
      -ms-transform: skewX(var(--nbl-skewX));
          transform: skewX(var(--nbl-skewX));
  position: absolute;
  border-radius: inherit;
  -webkit-transition: var(--trans-02s);
  transition: var(--trans-02s);
  z-index: -2;
}

.new-border-linear-pink {
  --nbl-color: var(--color-accent);
}

.new-border-linear-purple {
  --nbl-color: var(--color-purple);
}

.new-border-linear-sky {
  --nbl-color: var(--color-sky);
}

.new-border-linear-red {
  --nbl-color: var(--color-red);
}

.new-border-linear-tsunami {
  --nbl-color: var(--color-tsunami);
}

.header.scrolled {
  padding: 10px 0;
}

.header.scrolled .header__navbar::before {
  background-color: transparent;
}

.header__navbar {
  font-family: "Golos", sans-serif;
  position: relative;
}

.header__navbar::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background-color: #090a0c;
  border: 1.5px solid var(--color-border-gray);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header__navbar-link {
  text-shadow: 0 0 14px transparent;
  position: relative;
}

.header__navbar-link:hover {
  text-shadow: 0 0 14px var(--color-accent);
}

.header__navbar-link:hover::before {
  background: var(--color-accent);
}

.header__navbar-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: -17.5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-mobile.active .header-mobile__content {
  top: 0px;
}

.header-mobile__content {
  width: 100%;
  top: -18px;
}

.header-mobile .x-btn {
  position: absolute;
  right: 30px;
  top: 40px;
  color: var(--color-white);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, #000, transparent 50%);
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  width: 95%;
  max-width: 500px;
  padding: 30px;
  border-radius: 26px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.modal-content__title {
  font-size: 36px;
  font-weight: 600;
}

.modal-content__subtitle {
  margin-top: 10px;
  font-size: 20px;
}

.modal-success .modal-content {
  padding-bottom: 190px;
}

.modal-success .modal-content__img {
  width: 250px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-fform .sec-fform__form {
  width: 100%;
  padding: 0;
}

.modal-fform .sec-fform__form select,
.modal-fform .sec-fform__form input {
  max-width: 100%;
}

.modal-fform .sec-fform__form::before {
  content: none;
}

.teachers-block {
  width: 100%;
  max-width: 218px;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: -10px 25px 33px color-mix(in srgb, var(--accent), transparent 88%);
          box-shadow: -10px 25px 33px color-mix(in srgb, var(--accent), transparent 88%);
  -webkit-transition: var(--trans-03s);
  transition: var(--trans-03s);
}

.teachers-block:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.teachers-block:nth-child(1) {
  margin-top: 110px;
}

.teachers-block:nth-child(1) .teachers-block__img {
  -webkit-transform: translate(-30px, 0px);
      -ms-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);
}

.teachers-block:nth-child(2) {
  margin-top: -20px;
}

.teachers-block:nth-child(2) .teachers-block__img {
  -webkit-transform: translate(-50px, 0px) scale(1.15);
      -ms-transform: translate(-50px, 0px) scale(1.15);
          transform: translate(-50px, 0px) scale(1.15);
}

.teachers-block:nth-child(3) {
  margin-top: 76px;
}

.teachers-block:nth-child(3) .teachers-block__img {
  -webkit-transform: translate(-5px, 0px);
      -ms-transform: translate(-5px, 0px);
          transform: translate(-5px, 0px);
}

.teachers-block:nth-child(4) .teachers-block__img {
  -webkit-transform: translate(-30px, 0px) scale(1.3);
      -ms-transform: translate(-30px, 0px) scale(1.3);
          transform: translate(-30px, 0px) scale(1.3);
}

.teachers-block__img {
  height: 180px;
  margin-bottom: 5px;
  width: 125%;
  max-width: 270px;
  position: relative;
}

.teachers-block__img img {
  width: 100%;
  max-height: 280px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}

.teachers-block__body {
  padding: 30px;
  padding-top: 0;
}

.teachers-block__title {
  font-size: 32px;
  margin-bottom: 8px;
}

.teachers-block__subtitle {
  font-size: 18px;
  color: var(--c-secondary);
  margin-bottom: 25px;
}

.teachers-block__audio-sub {
  font-size: 14px;
  color: var(--c-secondary);
  margin-left: 8px;
  margin-top: 8px;
}

.teachers-block__audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background-color: #fff5f5;
  border-radius: 50px;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffeeee;
  border-radius: 12px;
  padding: 12px 14px;
  width: 100%;
  min-height: 54px;
}

.teachers-block__audio.active .teachers-block__audio-play .pause {
  display: block;
}

.teachers-block__audio.active .teachers-block__audio-play .play {
  display: none;
}

.teachers-block__audio.active .wave-bar {
  -webkit-animation: wave 1.5s infinite ease-in-out;
          animation: wave 1.5s infinite ease-in-out;
}

.teachers-block__audio-play .pause {
  display: none;
}

.teachers-block .audio-wave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.teachers-block .wave-bar {
  display: block;
  width: 4px;
  height: 20px;
  background-color: #ff9999;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.teachers-block .wave-bar:nth-child(1) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  height: 17px;
}

.teachers-block .wave-bar:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  height: 9px;
}

.teachers-block .wave-bar:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  height: 29px;
}

.teachers-block .wave-bar:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  height: 27px;
}

.teachers-block .wave-bar:nth-child(5) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  height: 19px;
}

.teachers-block .wave-bar:nth-child(6) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  height: 14px;
}

.teachers-block .wave-bar:nth-child(7) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  height: 20px;
}

.teachers-block .wave-bar:nth-child(8) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  height: 26px;
}

.teachers-block .wave-bar:nth-child(9) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  height: 10px;
}

.teachers-block .wave-bar:nth-child(10) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  height: 22px;
}

.teachers-block .wave-bar:nth-child(11) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
  height: 20px;
}

.teachers-block .wave-bar:nth-child(12) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  height: 10px;
}

.teachers-block .wave-bar:nth-child(13) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
  height: 6px;
}

.teachers-block .wave-bar:nth-child(14) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  height: 22px;
}

.teachers-block .wave-bar:nth-child(15) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  height: 29px;
}

.teachers-block .wave-bar:nth-child(16) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  height: 27px;
}

.teachers-block .wave-bar:nth-child(17) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  height: 30px;
}

@-webkit-keyframes wave {
  0%, 100% {
    height: 10px;
  }

  50% {
    height: 30px;
  }
}

@keyframes wave {
  0%, 100% {
    height: 10px;
  }

  50% {
    height: 30px;
  }
}

.sec-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 1040px;
  height: 100svh;
  background: center/cover no-repeat url("../img/banner-bg.png");
}

.sec-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sec-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.sec-banner__desc {
  margin-top: 32px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--color-white-secondaty);
  gap: 10px;
  font-size: 19px;
  font-weight: 500;
  color: var(--color-white-secondaty);
}

.sec-banner__desc-atmosphere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.sec-banner__desc-atmosphere img {
  width: 38px;
  height: 38px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 768px) {
  .d-none-min-mob {
    display: none;
  }

  .d-block-min-mob {
    display: block;
  }
}

@media (min-width: 1024px) {
  .d-none-min-tablet {
    display: none;
  }

  .d-block-min-tablet {
    display: block;
  }
}

@media (min-width: 1280px) {
  .d-none-max-desk {
    display: none;
  }

  .d-block-max-desk {
    display: block;
  }

  .d-none-min-desk {
    display: none;
  }

  .d-block-min-desk {
    display: block;
  }
}

@media (max-width: 1320px) {
  .sec-banner {
    background-size: 130%;
  }
}

@media (max-width: 1300px) {
  .header__navbar-link::before {
    bottom: -16.5px;
  }
}

@media (max-width: 1024px) {
  .btn-icon,
  .btn-icon-purple,
  .btn-icon-white {
    width: 34px;
    height: 30px;
  }

  .btn-icon img,
  .btn-icon-purple img,
  .btn-icon-white img,
  .btn-icon svg,
  .btn-icon-purple svg,
  .btn-icon-white svg {
    --size: 12px;
  }

  .d-none-max-tablet {
    display: none;
  }

  .d-block-max-tablet {
    display: block;
  }

  .br-hidden-lg br {
    display: none;
  }

  .register-socs .btn-small {
    width: 42px;
    height: 38px;
  }

  .register-socs .btn-small img,
  .register-socs .btn-small svg {
    width: 18px;
    height: 18px;
  }

  .sec-register .btn-small {
    width: 42px;
    height: 38px;
  }

  .sec-register .btn-small img,
  .sec-register .btn-small svg {
    width: 18px;
    height: 18px;
  }

  .teachers-block:nth-child(1) {
    justify-self: flex-end;
    margin-top: 160px;
  }

  .teachers-block:nth-child(2) {
    margin-top: 30px;
  }

  .teachers-block:nth-child(3) {
    justify-self: flex-end;
  }

  .sec-banner {
    min-height: 840px;
  }

  .sec-banner__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 920px) {
  .sec-banner {
    background-position: center 100px;
  }
}

@media (max-width: 768px) {
  .sec-p {
    --sec-p-y: 40px;
  }

  .btn-icon,
  .btn-icon-purple,
  .btn-icon-white {
    width: 56px;
    height: 50px;
  }

  .btn-icon img,
  .btn-icon-purple img,
  .btn-icon-white img,
  .btn-icon svg,
  .btn-icon-purple svg,
  .btn-icon-white svg {
    --size: 22px;
  }

  .d-none-max-mob {
    display: none;
  }

  .d-block-max-mob {
    display: block;
  }

  .br-hidden-md br {
    display: none;
  }

  .reviews-yandex {
    display: none;
  }

  .gift-item__body .btn,
  .gift-item__body .btn-accent,
  .gift-item__body .btn-purple,
  .gift-item__body .btn-sky,
  .gift-item__body .btn-white,
  .gift-item__body .btn-white-pink,
  .gift-item__body .btn-icon,
  .gift-item__body .btn-icon-white,
  .gift-item__body .btn-icon-purple {
    height: 50px;
    width: 135px;
  }

  .address-btns .btn,
  .address-btns .btn-accent,
  .address-btns .btn-purple,
  .address-btns .btn-sky,
  .address-btns .btn-white,
  .address-btns .btn-white-pink,
  .address-btns .btn-icon,
  .address-btns .btn-icon-white,
  .address-btns .btn-icon-purple {
    padding: 5px;
    height: 50px;
    width: 100%;
  }

  .register-socs .btn-small {
    width: 52px;
    height: 48px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .register-socs .btn-small img,
  .register-socs .btn-small svg {
    width: 18px;
    height: 18px;
  }

  .sec-certificates .certificates-calc.border-gradient {
    --border-radius: 0px;
  }

  .sec-certificates .certificates-calc.border-gradient-border {
    width: 104%;
    left: -2%;
  }

  .header-mobile .x-btn {
    right: 10px;
  }

  .modal-content {
    padding: 30px 15px;
  }

  .modal-content .x-btn {
    top: 10px;
    right: 10px;
  }

  .modal-content__title {
    font-size: 26px;
  }

  .modal-content__subtitle {
    font-size: 14px;
  }

  .teachers-block:nth-child(1) {
    margin-top: 180px;
  }

  .teachers-block:nth-child(1) .teachers-block__img {
    -webkit-transform: translate(-10px, 0px);
        -ms-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }

  .teachers-block:nth-child(2) {
    margin-top: 60px;
  }

  .teachers-block:nth-child(2) .teachers-block__img {
    -webkit-transform: translate(-15px, 0px);
        -ms-transform: translate(-15px, 0px);
            transform: translate(-15px, 0px);
  }

  .teachers-block:nth-child(3) .teachers-block__img {
    -webkit-transform: translate(-10px, 0px) scale(0.9);
        -ms-transform: translate(-10px, 0px) scale(0.9);
            transform: translate(-10px, 0px) scale(0.9);
  }

  .teachers-block:nth-child(4) .teachers-block__img {
    -webkit-transform: translate(-10px, 0px) scale(1);
        -ms-transform: translate(-10px, 0px) scale(1);
            transform: translate(-10px, 0px) scale(1);
  }

  .teachers-block__img {
    width: 110%;
    height: 120px;
  }

  .teachers-block__body {
    padding: 10px;
    padding-bottom: 30px;
  }

  .sec-banner {
    background: center/cover no-repeat url("../img/banner-textures.png");
    background-position: center 0px;
    min-height: 920px;
  }

  .sec-banner__desc {
    font-size: 14px;
  }

  .sec-banner__desc-atmosphere {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .sec-banner__desc-worktime {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .btn,
  .btn-icon,
  .btn-icon-purple,
  .btn-icon-white,
  .btn-white-pink,
  .btn-white,
  .btn-sky,
  .btn-purple,
  .btn-accent {
    padding: 12px 14px;
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .teachers-block .wave-bar {
    width: 3px;
  }

  .teachers-block .wave-bar:nth-child(17) {
    display: none;
  }
}

@media (max-width: 400px) {
  .sec-register .btn-small {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 380px) {
  .teachers-block:nth-child(1) {
    margin-top: 120px;
  }

  .teachers-block:nth-child(2) {
    margin-top: 30px;
  }
}

@media (max-width: 362px) {
  .gift-item__body .btn,
  .gift-item__body .btn-accent,
  .gift-item__body .btn-purple,
  .gift-item__body .btn-sky,
  .gift-item__body .btn-white,
  .gift-item__body .btn-white-pink,
  .gift-item__body .btn-icon,
  .gift-item__body .btn-icon-white,
  .gift-item__body .btn-icon-purple {
    height: 50px;
    width: 100px;
  }
}

@media (max-width: 360px) {
  .sec-register .btn-small {
    width: 40px;
    height: 45px;
  }
}

@media (max-width: 350px) {
  .teachers-block .wave-bar:nth-child(15) {
    display: none;
  }

  .teachers-block .wave-bar:nth-child(16) {
    display: none;
  }

  .teachers-block .wave-bar:nth-child(17) {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1220px) {
  .btn,
  .btn-icon,
  .btn-icon-purple,
  .btn-icon-white,
  .btn-white-pink,
  .btn-white,
  .btn-sky,
  .btn-purple,
  .btn-accent {
    font-size: 10px;
    border-radius: 10px;
    padding: 11px 27px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gift-item__body .btn,
  .gift-item__body .btn-accent,
  .gift-item__body .btn-purple,
  .gift-item__body .btn-sky,
  .gift-item__body .btn-white,
  .gift-item__body .btn-white-pink,
  .gift-item__body .btn-icon,
  .gift-item__body .btn-icon-white,
  .gift-item__body .btn-icon-purple {
    height: 35px;
  }
}
/*# sourceMappingURL=style.css.map */
