.modal-success.modal-wrapper(data-modal-block="form-success")
  .modal-content
    .x-btn(data-modal-close="form-success")
    .modal-content__title Супер!
    .modal-content__subtitle Скоро свяжемся с вами

