@use '../parts/variables' as v;

.sec-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 1040px;
  height: 100svh;
  background: center / cover no-repeat url('../img/banner-bg.png');

  @media (max-width: 1320px) {
    background-size: 130%;
  }

  @media (max-width: v.$screen-lg) {
    min-height: 840px;
  }

  @media (max-width: 920px) {
    background-position: center 100px;
  }

  @media (max-width: v.$screen-md) {
    background: center / cover no-repeat url('../img/banner-textures.png');
    background-position: center 0px;
    min-height: 920px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__desc {
    margin-top: 32px;
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid var(--color-white-secondaty);
    gap: 10px;
    font-size: 19px;
    font-weight: 500;
    color: var(--color-white-secondaty);

    @media (max-width: v.$screen-lg) {
      flex-direction: column;
      gap: 30px;
    }

    @media (max-width: v.$screen-md) {
      font-size: 14px;
    }

    &-atmosphere {
      display: flex;
      align-items: center;
      gap: 16px;

      @media (max-width: v.$screen-md) {
        flex-direction: column;
        text-align: center;
      }

      img {
        width: 38px;
        height: 38px;
        flex-shrink: 0;
      }
    }

    &-worktime {
      @media (max-width: v.$screen-md) {
        text-align: center;
      }
    }
  }
}
