@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2-variations"),
    url("/fonts/Inter-VariableFont_opsz,wght.woff") format("woff-variations"),
    url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src:
    url("/fonts/Inter-Italic-VariableFont_opsz,wght.woff2")
      format("woff2-variations"),
    url("/fonts/Inter-Italic-VariableFont_opsz,wght.woff")
      format("woff-variations"),
    url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
      format("truetype-variations");
}

@font-face {
  font-family: "Golos";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/GolosText-VariableFont_wght.woff2") format("woff2-variations"),
    url("/fonts/GolosText-VariableFont_wght.woff") format("woff-variations"),
    url("/fonts/GolosText-VariableFont_wght.ttf") format("truetype-variations");
}
