@use 'variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background: center / cover no-repeat url('../img/grid-lines-bg.png');
  background-color: var(--bg-black);
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  &:not(.overflow-visible) {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  display: block;

  &.max-none {
    max-width: none;
  }
}

.container {
  width: 1562px;
  max-width: 95%;
  margin: 0 auto;
}

.sec-p {
  &-y {
    padding: var(--sec-p-y) 0;

    &--top {
      padding-top: var(--sec-p-y);
    }

    &--bottom {
      padding-bottom: var(--sec-p-y);
    }
  }

  &-x {
    padding: 0 var(--sec-p-y);
  }

  @media (max-width: v.$screen-md) {
    --sec-p-y: 40px;
  }
}

.btn {
  --btn-bg: var(--color-accent);
  --btn-bg-hover: var(--color-accent-hover);
  --btn-bg-active: var(--color-accent-active);

  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: var(--trans-02s);
  padding: 13px 21px;
  border-radius: 16px;
  font-family: 'Golos Text', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 16px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  border-radius: 15px;

  @media (min-width: 767px) and (max-width: 1220px) {
    font-size: 10px;
    border-radius: 10px;
    padding: 11px 27px;
  }

  @media (max-width: 767px) {
    padding: 12px 14px;
    font-size: 14px;
  }

  &:hover {
    &::before {
      background: var(--btn-bg-hover);
      box-shadow: 0 0 20px 3.4px color-mix(in srgb, var(--btn-bg-hover), transparent 50%),
        0 0 15px -4px rgba(255, 255, 255, 0.5) inset;
    }
    &::after {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    position: absolute;
    left: 0;
    top: 0;
    transform: skewX(-10deg);
    border-radius: inherit;
    z-index: -1;
    transition: var(--trans-02s);
  }

  &::after {
    opacity: 0;
    content: '';
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: var(--btn-bg);
    background-image: linear-gradient(-69deg, rgba(255, 255, 255, 0.65), transparent);
    position: absolute;
    transform: skewX(-10deg);
    border-radius: inherit;
    transition: var(--trans-02s);
    z-index: -2;
  }

  &-reset {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  &-accent {
    @extend .btn;
    --btn-bg: var(--color-accent);
    --btn-bg-hover: var(--color-accent-hover);
    --btn-bg-active: var(--color-accent-active);
    color: var(--c-white);
  }

  &-purple {
    @extend .btn;
    --btn-bg: var(--color-purple);
    --btn-bg-hover: var(--color-purple-hover);
    --btn-bg-active: var(--color-purple-active);
    color: var(--c-white);
  }

  &-sky {
    @extend .btn;
    --btn-bg: var(--color-sky);
    --btn-bg-hover: var(--color-sky-hover);
    --btn-bg-active: var(--color-sky-active);
    color: var(--c-white);
  }

  &-white {
    @extend .btn;
    --btn-bg: var(--color-white);
    --btn-bg-hover: var(--color-white-hover);
    --btn-bg-active: var(--color-white-active);
    color: var(--color-purple);
  }

  &-white-pink {
    @extend .btn;
    --btn-bg: var(--color-white);
    --btn-bg-hover: var(--color-white-hover);
    --btn-bg-active: var(--color-white-active);
    color: var(--color-pink);
  }

  &-icon {
    @extend .btn;
    padding: 0;
    width: 56px;
    height: 50px;
    border-radius: 15px;
    padding: 0 !important;

    @media (max-width: v.$screen-lg) {
      width: 34px;
      height: 30px;
    }

    @media (max-width: v.$screen-md) {
      width: 56px;
      height: 50px;
    }

    img,
    svg {
      --size: 18px;
      max-width: var(--size);
      max-height: var(--size);
      min-width: var(--size);
      min-height: var(--size);
      flex-shrink: 0;
      z-index: 1;

      @media (max-width: v.$screen-lg) {
        --size: 12px;
      }
      @media (max-width: v.$screen-md) {
        --size: 22px;
      }
    }

    &::before {
      z-index: 1;
    }
    &::after {
      z-index: 0;
      background-image: linear-gradient(135deg, var(--color-accent), transparent);
    }

    &:hover {
      &::before {
        box-shadow: 0 0 10px 3.4px color-mix(in srgb, var(--btn-bg-hover), transparent 50%);
      }
      .img-hover {
        display: block;
      }
      .img-base {
        display: none;
      }
    }

    .img-hover {
      display: none;
    }

    &-white {
      @extend .btn-icon;
      --btn-bg: var(--color-white);
      --btn-bg-hover: var(--color-white-hover);
      --btn-bg-active: var(--color-white-active);
      color: var(--color-purple);
    }

    &-purple {
      @extend .btn-icon;
      --btn-bg: var(--color-purple);
      --btn-bg-hover: var(--color-purple-hover);
      --btn-bg-active: var(--color-purple-active);
      color: var(--color-white);
      &::after {
        z-index: 0;
        background-image: linear-gradient(320deg, #fff, transparent);
      }
    }

    .swiper-navigation-icon {
      display: none;
    }
  }
}

.df {
  display: flex;
  align-items: center;

  &.col {
    flex-direction: column;
  }

  &.col-rev {
    flex-direction: column-reverse;
  }

  &.gap {
    &-5 {
      gap: 5px;
    }

    &-10 {
      gap: 10px;
    }

    &-15 {
      gap: 15px;
    }

    &-20 {
      gap: 20px;
    }
  }
}

.burger {
  --bar-height: 2px;
  --bar-color: #fff;

  position: relative;
  width: 56px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: var(--trans-02s);

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transform: skewX(-10deg);
    background: transparent;
    border: 1px solid var(--color-border-gray);
    border-radius: 15px;
    backdrop-filter: blur(30px);
    z-index: -1;
  }
}

$breakpoints: (
  'max-mob': '(max-width: #{v.$screen-md})',
  'max-tablet': '(max-width: #{v.$screen-lg})',
  'max-desk': '(min-width: #{v.$screen-xl})',
  'min-mob': '(min-width: #{v.$screen-md})',
  'min-tablet': '(min-width: #{v.$screen-lg})',
  'min-desk': '(min-width: #{v.$screen-xl})',
);

.d {
  &-none {
    display: none;
  }

  &-block {
    display: block;
  }

  @each $name, $query in $breakpoints {
    &-none-#{$name} {
      @media #{$query} {
        display: none;
      }
    }

    &-block-#{$name} {
      @media #{$query} {
        display: block;
      }
    }
  }
}

.text-c {
  &-white {
    color: var(--color-white);
  }
  &-white-sec {
    color: var(--color-white-secondaty);
  }
  &-purple {
    color: var(--color-purple);
  }
  &-yellow {
    color: var(--color-yellow);
  }
  &-red {
    color: var(--color-red);
  }
  &-sky {
    color: var(--color-sky);
  }
  &-green {
    color: var(--color-green);
  }
  &-pink {
    color: var(--color-pink);
  }
  &-accent {
    color: var(--color-accent);
  }
}

.img-cover {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skewx--10 {
  --skewx-scale: 1;
  transform: skewX(-10deg) scale(var(--skewx-scale));

  &-content {
    transform: skewX(10deg);
  }
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-button {
  &.active {
    // background-color: var(--color-white);
    color: var(--color-accent);
  }
}

.tabs-buttons {
  background: linear-gradient(
      -129deg,
      color-mix(in srgb, #040a0f, transparent 60%) 20%,
      color-mix(in srgb, #de127a, transparent 40%) 100%
    )
    color-mix(in srgb, #0e1923, transparent 60%);
  background-repeat: no-repeat;
}

.card-tech-before-gradient {
  --cur-color: var(--color-accent);
  --cur-bg: color-mix(in srgb, #0e1923 40%, transparent);

  background: linear-gradient(
      22deg,
      color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 70%),
      color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 90%),
      transparent 50%
    )
    var(--cur-bg);

  backdrop-filter: blur(40px);

  &.--top-l {
    background: linear-gradient(
        140deg,
        color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 70%),
        color-mix(in srgb, color-mix(in srgb, var(--cur-color), transparent 40%), transparent 90%),
        transparent 50%
      )
      var(--cur-bg);
  }

  &-purple {
    @extend .card-tech-before-gradient;
    --cur-color: var(--color-purple);
  }

  &-pink {
    @extend .card-tech-before-gradient;
    --cur-color: var(--color-accent);
  }

  &-sky {
    @extend .card-tech-before-gradient;
    --cur-color: var(--color-sky);
  }

  &-yellow {
    @extend .card-tech-before-gradient;
    --cur-color: var(--color-yellow);
    --cur-bg: rgba(0, 0, 0, 0.5);
  }
}

.border-gradient {
  --border-radius: 15px;
  --border-width: 1.3px;
  --border-gradient-deg: 0deg;
  --border-gradient-image: linear-gradient(45deg, #4f4100, #ffd409, #4f4100);
  --content-bg-color: #0a0b0d;
  position: relative;
  border-radius: var(--border-radius);

  &-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    border: var(--border-width) solid transparent;
    background-clip: content-box, border-box;
    background-origin: border-box;
    z-index: -2;
    background-image: linear-gradient(
        var(--border-gradient-deg),
        var(--content-bg-color),
        var(--content-bg-color)
      ),
      var(--border-gradient-image);
  }

  &-content {
    position: absolute;
    left: var(--border-width);
    top: var(--border-width);
    width: calc(100% - (2 * var(--border-width)));
    height: calc(100% - (2 * var(--border-width)));
    border-radius: var(--border-radius);
    background-color: var(--content-bg-color);
    backdrop-filter: blur(40px);
    z-index: -1;
    background-image: inherit;
    background: inherit;
  }
}

body .swiper {
  overflow: visible;
}
.swiper-button-prev,
.swiper-button-next {
  position: relative;
}

.badge-clip {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 800;
  padding: 3px 24px 7px 24px;
  clip-path: polygon(0% 13.87%, 100% 0%, 86.06% 100%, 4.07% 86.96%);
}

.img-cover-skew {
  transform: skewX(10deg);
  max-width: 200%;
  object-fit: cover;
  width: 115%;
  height: 100%;
  position: absolute;
  right: -8%;
  top: 0;
  z-index: -1;
}

.font-golos {
  font-family: 'Golos Text', sans-serif;
}

.br-hidden {
  &-md {
    @media (max-width: v.$screen-md) {
      br {
        display: none;
      }
    }
  }

  &-lg {
    @media (max-width: v.$screen-lg) {
      br {
        display: none;
      }
    }
  }
}

.reviews-yandex {
  @media (max-width: v.$screen-md) {
    display: none;
  }
}

.gift-item__body {
  .btn {
    @media (min-width: v.$screen-md) and (max-width: v.$screen-lg) {
      height: 35px;
    }
    @media (max-width: v.$screen-md) {
      height: 50px;
      width: 135px;
    }
    @media (max-width: 362px) {
      height: 50px;
      width: 100px;
    }
  }
}
.qa-item-mob {
  --border-radius: 0;
  .border-gradient-border {
    width: calc(100% - 4px);
    left: 2px;
    transform: scaleX(1.1);
  }
}
.address-btns {
  @media (max-width: v.$screen-md) {
    .btn {
      padding: 5px;
      height: 50px;
      width: 100%;
    }
  }
}

.register {
  &-socs {
    .btn-small {
      @media (max-width: v.$screen-lg) {
        width: 42px;
        height: 38px;
        img,
        svg {
          width: 18px;
          height: 18px;
        }
      }
      @media (max-width: v.$screen-md) {
        width: 52px;
        height: 48px;
        flex-shrink: 0;
        img,
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

main {
  overflow: hidden;
}

.sec-register {
  .btn-small {
    @media (max-width: v.$screen-lg) {
      width: 42px;
      height: 38px;
      img,
      svg {
        width: 18px;
        height: 18px;
      }
    }
    @media (max-width: 400px) {
      width: 45px;
      height: 45px;
    }
    @media (max-width: 360px) {
      width: 40px;
      height: 45px;
    }
  }
}

.sec-certificates {
  .certificates-calc {
    &.border-gradient {
      @media (max-width: v.$screen-md) {
        --border-radius: 0px;
        &-border {
          width: 104%;
          left: -2%;
        }
      }
    }
  }
}

.new-border-linear {
  --nbl-deg: 200deg;
  --nbl-color: var(--color-accent);
  --nbl-skewX: 0deg;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: skewX(var(--nbl-skewX));

  &::after {
    content: '';
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: var(--btn-bg);
    background-image: linear-gradient(var(--nbl-deg), transparent 30%, var(--nbl-color));
    transform: skewX(var(--nbl-skewX));
    position: absolute;
    border-radius: inherit;
    transition: var(--trans-02s);
    z-index: -2;
  }

  &-pink {
    @extend .new-border-linear;
    --nbl-color: var(--color-accent);
  }
  &-purple {
    @extend .new-border-linear;
    --nbl-color: var(--color-purple);
  }
  &-sky {
    @extend .new-border-linear;
    --nbl-color: var(--color-sky);
  }
  &-red {
    @extend .new-border-linear;
    --nbl-color: var(--color-red);
  }
  &-tsunami {
    @extend .new-border-linear;
    --nbl-color: var(--color-tsunami);
  }
}
