@use 'variables' as v;

.header {
  &.scrolled {
    padding: 10px 0;
    .header__navbar {
      &::before {
        background-color: transparent;
      }
    }
  }

  &__navbar {
    font-family: 'Golos', sans-serif;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      backdrop-filter: blur(30px);
      transform: skewX(-10deg);
      background-color: #090a0c;
      border: 1.5px solid var(--color-border-gray);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    &-link {
      text-shadow: 0 0 14px transparent;
      position: relative;

      @media (max-width: 1300px) {
        &::before {
          bottom: -16.5px;
        }
      }

      &:hover {
        text-shadow: 0 0 14px var(--color-accent);

        &::before {
          background: var(--color-accent);
        }
      }

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: transparent;
        position: absolute;
        bottom: -17.5px;
        left: 0;
        transition: all 0.3s ease;
      }
    }
  }

  &-mobile {
    &.active {
      .header-mobile__content {
        top: 0px;
      }
    }

    &__content {
      width: 100%;
      top: -18px;
    }

    .x-btn {
      position: absolute;
      right: 30px;
      top: 40px;
      color: var(--color-white);

      @media (max-width: v.$screen-md) {
        right: 10px;
      }
    }
  }
}
