@use 'variables' as v;

.header {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.75) 80%, transparent 100%);
  &.scrolled {
    padding: 10px 0;
  }

  // &__logo {
  //   width: 200px;

  //   @media (max-width: v.$screen-md) {
  //     width: 150px;
  //   }
  // }

  &__navbar {
    font-family: 'Golos', sans-serif;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // gap: 10px;
    // padding: 5px;
    // position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      transform: skewX(-10deg);
      background-color: #090a0c;
      border: 1.5px solid var(--color-border-gray);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    // &-item {
    //   display: block;
    //   padding: 10px 20px;
    //   font-weight: 600;
    //   transition: var(--trans-02s);

    //   &:hover {
    //     color: var(--color-accent);
    //   }
    // }
  }

  &-mobile {
    &.active {
      .header-mobile__content {
        top: 0px;
      }
    }

    &__content {
      // width: 100%;
      // max-height: 500px;
      // display: flex;
      // flex-direction: column;
      // gap: 25px;
      // position: absolute;
      // left: 0;
      top: -18px;
      // transition: all 0.3s ease-in-out;
      // background: color-mix(in srgb, var(--color-white-secondaty), transparent 40%);
      // backdrop-filter: blur(10px);
      // border-radius: 0 0 30px 30px;
      // padding: 40px 30px;

      // @media (max-width: v.$screen-md) {
      //   padding: 40px 20px;
      // }
    }

    // &__logo {
    //   @media (max-width: v.$screen-md) {
    //     width: 150px;
    //   }
    // }

    // &__navbar {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 15px;
    // }

    // &__order {
    //   width: 100%;
    // }

    .x-btn {
      right: 30px;
      top: 40px;
      color: var(--color-white);

      @media (max-width: v.$screen-md) {
        right: 10px;
      }
    }
  }
}
