:root {
  /* Colors */
  --color-accent: #de127a;
  --color-accent-hover: color-mix(in srgb, var(--color-accent), #000 20%);
  --color-accent-active: color-mix(in srgb, var(--color-accent), #000 40%);
  --color-white: #fff;
  --color-white-hover: color-mix(in srgb, var(--color-white), #000 25%);
  --color-white-active: color-mix(in srgb, var(--color-white), #000 40%);
  --color-white-secondaty: #b8b8d6;
  --color-purple: #7d5c9c;
  --color-purple-hover: color-mix(in srgb, var(--color-purple), #000 20%);
  --color-purple-active: color-mix(in srgb, var(--color-purple), #000 40%);
  --color-yellow: #ffd409;
  --color-red: #e52c4b;
  --color-sky: #4ea8f3;
  --color-sky-hover: color-mix(in srgb, var(--color-sky), #000 25%);
  --color-sky-active: color-mix(in srgb, var(--color-sky), #000 40%);
  --color-green: #43a382;
  --color-pink: #de127a;

  /* Backgrounds colors */
  --bg-black: #040405;

  /* Border colors */
  --color-border-gray: rgba(255, 255, 255, 0.08);

  /* Transition */
  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
  --trans-05s: all 0.5s ease;

  /* Gradients */
  --linear-reviews-bg: linear-gradient(
    140deg,
    color-mix(in srgb, color-mix (in srgb, #ffd409, transparent 40%), transparent 70%),
    color-mix(in srgb, color-mix(in srgb, #ffd409, transparent 40%), transparent 90%),
    transparent 50%
  );
}

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1440px;
$screen-xxxl: 1562px;
