include ../mixins/tabs
include ../mixins/address
include ../mixins/sec-title

-
  var tabData = [
    ['t-address-1', 'Сакнт-Петербург'],
    ['t-address-2', 'Москва']
  ]


section(class="sec-address py-24 max-md:py-[50px] relative max-lg:py-18 overflow-visible")
  div(class="absolute top-[10%] max-md:top-0 l-0 w-full -z-10")
    img(class="w-full" src="./img/address-bg.png" loading="lazy")

  .container
    +sec-title('<span class="text-app-pink">Где мы</span> находимся', 'Адреса клубов в Москве и Санкт-Петербурге')

    div(class="address-list mt-[80px] max-lg:mt-[35px]")
      +tabs(tabData)
        div(data-tab-item="t-address-1" class="tab-pane active")
          div(class="grid grid-cols-[1fr_63.5%] gap-y-[33px] max-md:grid-cols-1 px-7")
            div(class="w-full flex flex-col gap-y-[40px] max-lg:gap-5")
              +address-item('metaracing <br/> <span class="text-app-pink">М.Московская</span>', '  Санкт-Петербург', 'ул. Типанова, 21 <br/> ТЦ «Питер», 3 этаж', '+7 921 864-38-88', '12:00 – 00:00 <br/> без выходных')
              +address-item('metaracing <br/> <span class="text-app-pink">М.Московская</span>', '  Санкт-Петербург', 'малый пр. В.О., д. 88, к. 2 <br/> ТЦ «Шкиперский Молл», 4 этаж', '+7 921 764-38-88', '12:00 – 00:00 <br/> без выходных')

            div(
              class=`
                w-[88%] max-[1200px]:w-[82%] h-full min-h-[680px] max-[1300px]:min-h-[400px] ml-[80px] 
                address-item border-gradient relative rounded-[15px] -skew-x-10
                bg-linear-195 from-transparent from-80% to-app-pink/30
                max-md:w-full max-md:max-w-[366px] max-md:mx-auto max-md:min-h-[250px]
              `
              style=`--border-gradient-image: linear-gradient(225deg, #1E3147 20%, #d442a3)`
            )
              div(class="border-gradient-border")
              div(class="border-gradient-content")
              div(class=`absolute top-5 max-[1200px]:top-2.5 z-1 left-[-20px]  max-md:top-2`)
                img(class="h-[51px] max-[1200px]:h-[30px]" src="./img/map-b.svg", alt="", loading="lazy")
              div(class="absolute rounded-[15px] w-full h-full overflow-hidden")
                iframe(class="h-full w-[120%] skew-x-10 absolute top-0 left-[-10%]" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab76037977501323e32999dfe2d470752b295009e7277db5a398f5fa429a2b0b4&amp;source=constructor" theme="dark" frameborder="0" 
                style=`filter: invert(90%) hue-rotate(180deg) brightness(80%);`
                )
                
        div(data-tab-item="t-address-2" class="tab-pane")
          div(class="grid grid-cols-[1fr_63.5%] gap-y-[33px] max-md:grid-cols-1 px-7")
            div(class="w-full flex flex-col gap-y-[40px] max-lg:gap-5")
              +address-item('metaracing <br/> <span class="text-app-pink">М.Московская</span>', 'Москва', 'ул. Типанова, 21 <br/> ТЦ «Питер», 3 этаж', '+7 921 864-38-88', '12:00 – 00:00 <br/> без выходных')
              +address-item('metaracing <br/> <span class="text-app-pink">М.Московская</span>', 'Москва', 'малый пр. В.О., д. 88, к. 2 <br/> ТЦ «Шкиперский Молл», 4 этаж', '+7 921 764-38-88', '12:00 – 00:00 <br/> без выходных')

            div(
              class=`
                w-[88%] max-[1200px]:w-[82%] h-full min-h-[680px] max-[1300px]:min-h-[400px] ml-[80px] 
                address-item border-gradient relative rounded-[15px] -skew-x-10
                bg-linear-195 from-transparent from-80% to-app-pink/30
                max-md:w-full max-md:max-w-[366px] max-md:mx-auto max-md:min-h-[250px]
              `
              style=`--border-gradient-image: linear-gradient(225deg, #1E3147 20%, #d442a3)`
            )
              div(class="border-gradient-border")
              div(class="border-gradient-content")
              div(class=`absolute top-5 max-[1200px]:top-2.5 z-1 left-[-20px]  max-md:top-2`)
                img(class="h-[51px] max-[1200px]:h-[30px]" src="./img/map-b.svg", alt="", loading="lazy")
              div(class="absolute rounded-[15px] w-full h-full overflow-hidden")
                iframe(class="h-full w-[120%] skew-x-10 absolute top-0 left-[-10%]" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab76037977501323e32999dfe2d470752b295009e7277db5a398f5fa429a2b0b4&amp;source=constructor" theme="dark" frameborder="0" 
                style=`filter: invert(90%) hue-rotate(180deg) brightness(80%);`
                )
                
