section.sec-banner
  .container
    .sec-banner__content
      .sec-banner__title Сеть клубов <br/> #[span.text-c-accent гоночных симуляторов]

      .sec-banner__contacts
        .sec-banner__contacts-socs
          a(href="#").sec-banner__contacts-soc.skewx--10
            .skewx--10-content
              img(src="./img/accent-whatsapp.svg", alt="")
          a(href="#").sec-banner__contacts-soc.skewx--10
            .skewx--10-content
              img(src="./img/accent-tg.svg", alt="")
          a(href="#").sec-banner__contacts-soc.skewx--10
            .skewx--10-content
              img(src="./img/accent-vk.svg", alt="")

        .sec-banner__contacts-address
          p МОСКВа (#[span.text-c-accent new])
          p Санкт-петербург

        .sec-banner__contacts-phones
          a(href="tel:").sec-banner__contacts-phone #[span.text-c-accent +] 7 812 665-38-88
          a(href="tel:").sec-banner__contacts-phone #[span.text-c-accent +] 7 812 565-38-88

      .sec-banner__desc
        .sec-banner__desc-atmosphere 
          img(src="./img/14+.svg", alt="")
          p Погрузись в атмосферу — почувствуй настоящую гонку <br/> и прокачай навыки управления автомобилем.

        .sec-banner__desc-worktime Ежедневно с 12:00 до 00:00 <br/> Отвечаем моментально.


