include ../mixins/sec-title

mixin tech-card-content(title, desc, img1, img2, badge, hoverBtn, hoverImg, toColor)
  div(class=`tech-card-content relative max-lg:max-w-[600px] mx-auto`)
    if badge
      div(class=`absolute top-5 z-1 left-[30px] max-md:left-0 max-md:top-2`)
        img(class="max-lg:h-[33px] max-md:h-[30px]" src="./img/"+badge, alt="", loading="lazy")

    div(class="group/card relative w-full flex items-end cursor-pointer")
      picture
        source(media="(max-width: 767px)" srcset="img/mob-"+img1)
        img(class="left-0 bottom-0 w-full -z-1" src="img/"+img1 loading="lazy")

      div(class=`
        absolute left-0 bottom-0 w-full flex justify-between items-center pl-[44px] pr-[80px] pb-[30px] gap-2.5  flex-wrap gap-x-2
        max-[1200px]:pr-[60px] max-[1200px]:pl-[40px] max-md:pr-[35px] max-md:pl-[30px]
      `)
        div(class=`
          text-[28px] italic font-black text-app-white uppercase 
          max-[1200px]:text-[18px] max-md:text-lg 
        `)!=title

        div(class=`
        w-[80px] h-[55px]  flex justify-center items-center bg-app-white rounded-[15px] transition duration-300 ease-in-out ${hoverBtn}
        max-[1200px]:w-[44px] max-[1200px]:h-[34px] max-[1200px]:rounded-[10px] max-md:w-[50px] max-md:h-[34px]
        `)
          img(class=`${hoverImg} max-[1200px]:w-[10px]` src="./img/arrow-purple.svg" loading="lazy")

    div(class=`
    relative py-7 max-md:pt-3.5 max-md:pb-[24px] pl-[48px] pr-[80px] max-lg:pl-[30px] max-lg:pr-[40px] max-md:pl-[38px] max-md:pr-[60px]
    text-app-white-secondary br-hidden-lg
    text-[19px] max-[1200px]:text-[12px] max-md:text-sm font-medium text-left
    max-md:border-b max-md:border-app-white/10
    max-md:w-[110%] max-md:translate-x-[-5%] max-md:bg-[#0E1923]/40 max-md:bg-linear-195 from-transparent from-50% ${toColor} 
    `)!=desc
      picture(class="max-md:hidden")
        source(media="(max-width: 1024px)" srcset="img/mob-"+img2)
        img(class="absolute left-0 bottom-0 w-full -z-2 max-lg:h-[300px]" src="img/"+img2 loading="lazy")

section(class="sec-games py-20 max-md:py-[50px] relative ")
  div(class="absolute top-[-20%] max-md:top-0 l-0 w-full -z-10")
    div(class="max-md:hidden")
      img(class="w-full" src="./img/games-bg.png" loading="lazy")
    div(class="md:hidden")
      img(class="w-full" src="./img/games-bg-mob.png" loading="lazy")

  .container
    +sec-title(' <span class="text-app-pink"> Игры <br class="md:hidden"/> </span> на любой вкус', 'Отличный способ весело провести время')

    div(class="grid grid-cols-[40%_60%] mt-[70px] max-md:mt-[32px] max-md:flex max-md:flex-col gap-y-6")
      div(class="md:hidden")
        +tech-card-content('Dirt Rally 2.0', 'Любите кольцевые гонки или ралли? Включайся в заезд <br/> на Nurburgring, Spa, Sochi Autodrom и других культовых трассах мира. Соревонвательные режимы и гоночные машины любых классов уже ждут вас.', 'games-3.png', 'games-3-before.png', 'gb-3.svg', 'group-hover/card:bg-app-pink', 'group-hover/card:brightness-400', 'to-app-pink/50')
      +tech-card-content('BeamNG.drive', 'Для тех, кто любит «нырять в поток». Берите друга, выбирайте машину — и мы отправим вас на трассу с трафиком. Проверьте мастерство в динамике!', 'games-1.png', 'games-1-before.png', 'gb-1.svg', '', '', 'to-[#8898A6]/50')
      +tech-card-content('Assetto Corsa', 'Управляемый занос — один из самых зрелищных видов автоспорта. <br/> Почувствуйте себя дрифт-пилотом: катайтесь по трассам со всего мира. <br/> Дым, углы и море удовольствия!', 'games-2.png', 'games-2-before.png', 'gb-2.svg', 'group-hover/card:bg-app-purple', 'group-hover/card:brightness-400', 'to-app-purple/50')
    div(class="grid grid-cols-[47%_52%] mt-15 max-md:mt-6 max-md:grid-cols-1 gap-y-6")
      div(class="max-md:hidden")
        +tech-card-content('Dirt Rally 2.0', 'Любите кольцевые гонки или ралли? Включайся в заезд <br/> на Nurburgring, Spa, Sochi Autodrom и других культовых трассах мира. Соревонвательные режимы и гоночные машины любых классов уже ждут вас.', 'games-3.png', 'games-3-before.png', 'gb-3.svg', 'group-hover/card:bg-app-pink', 'group-hover/card:brightness-400')
      +tech-card-content('Euro Truck Simulator 2', 'Хотите отдохнуть после сложного дня? Мы отправим вас в мир больших машин и техники. Здесь вы сможете почувствовать себя водителем фуры, взять груз и с чашечкой вкусного кофе отправиться в путешествие.', 'games-4.png', 'games-4-before.png', 'gb-4.svg', '', '', 'to-[#8898A6]/50')
    div(class="grid grid-cols-[27.6%_39.5%_36%] mt-10 max-md:mt-6 max-md:grid-cols-1 gap-y-6 max-md:hidden")
        +tech-card-content('Wreckfest', 'Самый фановый режим <br/> для компании. Мы отправим <br/> вас на арену, где нужно разбить <br/> машины ваших друзей. <br/> Победит сильнейший!', 'games-5.png', 'games-5-before.png', 'gb-5.svg')
        +tech-card-content('Assetto Corsa', 'Картинг — это то, с чего начинали большинство автоспортсменов. У нас вы можете сесть за болид <br/> и начать свой путь в автоспорте с картинга, а затем перейти в более суровые условия Формулы 1. <br/> Или сразу, если вы готовы!', 'games-6.png', 'games-6-before.png', 'gb-6.svg', 'group-hover/card:bg-app-pink', 'group-hover/card:brightness-400')
        +tech-card-content('City Car Driving', 'Ваш путь к водительским правам начинается <br/> прямо сейчас! Симулятор вождения поможет <br/> вам безопасно научиться водить автомобиль, улучшить и отточить все самые необходимые <br/> навыки управления машиной.', 'games-7.png', 'games-7-before.png', 'gb-7.svg', 'group-hover/card:bg-app-purple', 'group-hover/card:brightness-400')
    
    div(class="flex justify-center mt-[77px] max-lg:mt-[47px] max-md:mt-[38px]")
      button(class="btn btn-accent") 
        p Подробнее про симуляторы
        img(src="./img/arrow.svg")
