include ../mixins/sec-title

mixin gift-item(img, badge, time, badgebg, cardBgColor, btnColor)
  div(class="gift-item  relative w-full max-lg:max-w-[500px] max-lg:mx-auto")
    div(class=`absolute top-5 max-[1200px]:top-2.5 z-1 left-[30px] max-[1200px]:left-5 max-md:top-2`)
      img(class="h-[51px] max-lg:h-[28px] max-md:h-[30px]" src="./img/"+badge, alt="", loading="lazy")

    div(class="gift-item__img relative")
      img(class="w-full" src=`./img/${img}` loading="lazy")

    div(class=`
      gift-item__body relative
      w-[90%]
      pt-4 pb-[30px] max-lg:pb-2 max-lg:pt-2 max-md:pb-3 max-md:pt-3.5
      pr-[40px] max-lg:pl-[10px] max-lg:pr-[35px] max-md:pl-[5px] max-md:pr-[35px]
      ml-8
      max-lg:ml-2 max-md:ml-4
    `)
      div(class=`
        ${cardBgColor} -z-1 absolute  w-full bottom-0 left-0
        -skew-x-10 rounded-[15px] border border-app-white/10 bg-app-card-bg/40 
        h-[330px] max-lg:h-[217px] max-md:h-[270px] 
      `)
      div(class="flex justify-between flex-wrap items-center max-md:items-start max-w-[445px] max-[1200] mx-auto")
        div(class="text-[28px] max-lg:text-[17px] max-md:text-xl max-[362]:text-lg italic font-black uppercase leading-[50px]")!=time
        a(href="", class=`btn btn-${btnColor}`) Оформить


section(class="sec-gift py-24 max-md:py-[50px] relative overflow-visible max-lg:py-18")
  div(class="absolute top-[-15%] max-md:top-0 l-0 w-full -z-10")
    img(class="w-full" src="./img/gift-bg.png" loading="lazy")

  .container
    +sec-title('В подарок', 'Подарочный сертификат MetaRacing не оставит равнодушным <br class="max-md:hidden"/> ни одного фаната автомобилей, На ваш выбор — сертификат может быть <br class="max-md:hidden"/> изготовлен в печатном или электронном виде')
  
  div(class="gift-list grid grid-cols-3 max-md:grid-cols-1 gap-y-[33px] mt-[80px] max-lg:mt-[46px] max-md:mt-[58px] px-10")
    +gift-item('gift-1.png', 'gift-b-1.svg', '1 час', 'bg-app-sky', 'card-tech-before-gradient-sky', 'sky')
    +gift-item('gift-2.png', 'gift-b-2.svg', '2 часа', 'bg-app-purple', 'card-tech-before-gradient-purple', 'purple')
    +gift-item('gift-3.png', 'gift-b-3.svg', '3 часа', 'bg-app-pink', 'card-tech-before-gradient-pink', 'accent')