include ../mixins/sec-title
include ../mixins/merch

section(class="sec-merch py-24 max-md:py-[50px] relative overflow-visible max-lg:py-18")
  div(class="absolute top-[10%] max-md:top-0 l-0 w-full -z-10")
    img(class="w-full" src="./img/merch-bg.png" loading="lazy")

  .container
    +sec-title('Наш <span class="text-app-pink">мерч</span>', 'MetaRacing — это стиль жизни! <br/> Приобрести всю красоту можно как в клубе, так и онлайн')

    div(class="merch-list max-md:hidden relative grid grid-cols-[30.51%_30.51%_45.26%] max-md:grid-cols-1 gap-y-[33px] mt-[80px] max-lg:mt-[48px] ")
     +merch-item('merch-1.png', 'Зип-худи', 'merch-b-1.svg', 'sky', false, '')
     +merch-item('merch-2.png', 'Ветровка', 'merch-b-2.svg', 'sky', false, 'translate-x-[-40px] max-md:translate-x-0')
     +merch-item('merch-3.png', 'И ДРУГИЕ ТОВАРЫ', 'merch-b-3.svg', 'pink', true, 'translate-x-[-70px] max-md:translate-x-0')

    div(class="md:hidden max-md:mt-[35px]")
      div(class="swiper swiper-merch")
        div(class="swiper-wrapper")
          div(class="swiper-slide max-md:max-w-[320px]")
            +merch-item('merch-1.png', 'Зип-худи', 'merch-b-1.svg', 'sky', false)
          div(class="swiper-slide max-md:max-w-[320px]")
            +merch-item('merch-2.png', 'Ветровка', 'merch-b-2.svg', 'sky', false, 'translate-x-[-20px]')

      div(class="flex justify-center w-full mt-[34px]")
        a(href="#" class=`btn btn-${btnColor} w-[234px] h-[55px]`) 
          p Весь каталог
          img(class="brightness-200 mt-1" src="./img/arrow-purple.svg")